body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px;
}

section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.player {
    width: 48%; 
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.team-description {
    margin-top: 10px;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav a {
    text-decoration: none; /* quitar el subrayado */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold; /* efecto de transición para un cambio suave */
}

nav a:hover {
    background-color: #555; /* color de fondo al pasar el mouse */
}
footer a {
    text-decoration: none; /* quitar el subrayado */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}